/* ----------- Gmail Only */
/* Make search bar semi-transparent to blend into themed backgrounds */
.gbqfqw { background: rgba(255,255,255,0.5) !important; }

/* Hide Google+ Share widget */
ol.gbtc li.gbt:nth-child(3) { display: none !important; }

/* Reduce footer padding in message list */
.l2 { padding-bottom: 40px !important; }

/* Hide Google copyright */
.l2 .aeU { visibility: hidden !important; }

/* Shrink Google logo to look like Google Drive's */
.gbemi#gb .gbqldr, .gbem#gbqlw .gbqldr { max-width: 95px !important; }

/* Shrink message size */
.b8 .vh { font-size: 70% !important; }


/* ----------- Google Calendar Only */

/* Adjust position of search bar */
#calmaster #gbq #gbq2 { margin-left: 204px !important; }
#calmaster #gbq.gbem #gbq2 { margin-left: 182px !important; }
#calmaster #gbq.gbes #gbq2 { margin-left: 170px !important; }

/* Shrink header spacing */
#calmaster #gb { height: 75px !important; }


/* ----------- Google Drive Only */

/* Table headers should be sentence case */
.doclist-header th { font-size: 12px; text-transform: none; }
.doclist-header-inner { margin-bottom: -6px; }
.doclist-header-label-checkbox { margin-bottom: 0 !important; }

/* Standardize dropdown button styling */
.goog-flat-menu-button { padding: 0 6px !important; }
.goog-flat-menu-button-dropdown { position: relative !important; top: 0 !important; right: 0 !important; margin-left: 3px !important; vertical-align: middle !important; }
.advanced-search-button .goog-flat-menu-button-dropdown { position: absolute !important; }
.viewpane .goog-toolbar-item-action-menu .goog-flat-menu-button-caption, .viewpane .goog-toolbar-item-viewpane-sort .goog-flat-menu-button-caption { opacity: 0.68 !important; }
.viewpane .goog-toolbar-item-action-menu.goog-flat-menu-button-hover .goog-flat-menu-button-caption, .viewpane .goog-toolbar-item-viewpane-sort.goog-flat-menu-button-hover .goog-flat-menu-button-caption { opacity: 0.85 !important; }


/* ----------- ALL */

/* Realign spacing of header contents */
#gb.gbem { height: 75px !important; }
#gb.gbes, #calmaster #gb.gbes { height: 52px !important; }
#gb #gbq, #gb #gbu { top: 8px !important; }
#gb #gbq.gbes, #gb #gbu.gbes { top: 7px !important; }

/* Hide top dark gray navigation bar, light gray "Google Bar" */
#gbz, #gbx1, #gbx3 { visibility: hidden !important; }

/* Hide Google logo */
#gbq1 { display: none !important; }